@keyframes menu-open {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@-webkit-keyframes menu-open {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes menu-close {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes menu-close {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.navbar__menu {
  @apply w-full fixed h-full overflow-hidden block top-0 left-0 bg-[#02040a] z-40 opacity-0;
  -webkit-animation: menu-close 0.8s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: menu-close 0.8s cubic-bezier(0.23, 1, 0.32, 1) both;
  transition: all 0s 0.75s;
}

.navbar__menu.navbar__menu--loaded {
  @apply opacity-100;
  transition: all 0s 0.8s;
}

.navbar__menu.navbar__menu--opened {
  -webkit-animation: menu-open 0.8s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: menu-open 0.8s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.navbar__menu-wrap {
  @apply flex mx-5 lg:mx-14 items-center flex-col bg-transparent w-fit justify-center;
}

.navbar__menu-wrap--opened {
  -webkit-animation: menu-open 1.1s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: menu-open 1.1s cubic-bezier(0.23, 1, 0.32, 1) both;
  transition: all 0s 1.1s;
}
